[submodule "bcalm"]
	path = bcalm
	url = https://github.com/GATB/bcalm.git
[submodule "Lighter"]
	path = Lighter
	url = https://github.com/mourisl/Lighter.git
[submodule "REINDEER"]
	path = REINDEER
	url = https://github.com/kamimrcht/REINDEER.git
