[submodule "bcalm"]
	path = bcalm
	url = https://github.com/GATB/bcalm.git
[submodule "Lighter"]
	path = Lighter
	url = https://github.com/mourisl/Lighter.git
[submodule "bifrost"]
	path = bifrost
	url = https://github.com/pmelsted/bifrost.git
